*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    border: solid green 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    line-height: 50px;
}

.play {
    background-color: aquamarine;
    padding: 4px;
}

.playgo {
    background-color: aquamarine;
}